#root {
  --background-color: #282c34;
  background-color: #282c34;
  color: whitesmoke;
}

.light-text {
  color: whitesmoke;
}

body {
  background-color: var(--background-color);
}

.debug-frame {
  outline: 1px solid red;
}

.header {
  padding: 1rem;
}

.main-title {
  font-size: 2rem;
  text-align: center;
}

.center-text {
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round-corners {
  border-radius: 10px;
}
