#root {
  --background-color: #282c34;
  background-color: #282c34;
  color: whitesmoke;
}

.light-text {
  color: whitesmoke;
}

body {
  background-color: var(--background-color);
}

.debug-frame {
  outline: 1px solid red;
}

.header {
  padding: 1rem;
}

.main-title {
  font-size: 2rem;
  text-align: center;
}
