#root {
  --background-color: #282c34;
  --white-color: whitesmoke;
  --accent-color: #b6174b;
  --accent-color-alpha: #b6174c75;
  background-color: var(--background-color);
  color: var(--white-color);
  min-height: 100vh;
}

.light-text {
  color: var(--white-color);
}

body {
  background-color: var(--background-color);
}

.debug-frame {
  outline: 1px solid red;
}

.header {
  padding: 1rem;
}

.main-title {
  font-size: 2rem;
  text-align: center;
  background-color: var(--accent-color-alpha);
  border-radius: 10px;
  padding: 1rem 0.1rem;
}

.center-text {
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round-corners {
  border-radius: 10px;
}

.pointer-cursor:hover {
  cursor: pointer;
}
